.btn:focus,.btn:active {
   outline: none !important;
   box-shadow: none !important;
}

[class*="btn-"] .focus, [class*="btn-"] .active {
  outline: none !important;
  box-shadow: none !important;
}
